body {
    color: #000000;
    font-family: "Roboto", Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
}

hr {
    display: none;
}

.margin-top-3-percents {
	margin-top: 3%;
}

.padding-left-15-percents {
    padding-left: 5%;
}

.padding-right-15-percents {
    padding-right: 5%;
}

.position-row {
    border-left: 1px solid #d1d1d1;
    padding-top: 2%;
}

.position-name {
    color: #4f81bd;
    font-size: 120%;
    font-weight: bold;
    margin-top: 4%;
}

.paragraph-name {
    color: #4f81bd;
    font-weight: bold;
}

.paragraph-description {
    font-size: 80%;
    font-weight: bold;
}

.dates {
    color: #727272;
    font-size: 100%;
}

.terms {
    color: #727272;
    font-size: 80%;
}

.fill {
    height: 100%;
}

.contacts .col-xs-12 {
    width: 33.33%;
}

.header {
    background-color: #4f81bd;
    color: #ffffff;
    padding-top: 0;
    padding-bottom: 0;
}

.contacts-info {
    font-weight: bold;
}

.goal {
    display: none;
}

.info-icon {
    font-size: 250%;
}

.square {
    padding: 0 5%;
}

.name {
    font-size: 300%;
    font-weight: normal;
}

.header a {
    display: none;
}

.employment .col-md-4 {
    width: 33.33%;
    float: left;
}

.employment .col-md-8 {
    float: left;
    width: 66.66%;
}

.education .col-md-5 {
    float: left;
    width: 50%;
}

.footer {
    margin-top: 0;
}